#titol
{
    padding: 1vw;
    text-align: center;

}

aside{
    text-align: center;
}

aside h1{
    padding: 1vw;
}

aside p{
    display: inline-block;
    margin-right: 6vw;
    margin-left: 6vw;
}